@use "../styles/theme.scss";

* {
  box-sizing: border-box;
}

html,
body,
:global(#root),
:global(#ui-root),
:global(.home-root) {
  margin: 0;
  height: 100%;
}

body:not(.is-hub-page) {
  background: radial-gradient(140% 100% at 0% 0%, #1e3358 0%, #0b1324 36%, #050812 100%);
}

:global(#root),
:global(#ui-root),
:global(.home-root) {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

main {
  display: block;
  order: -1;
  flex: 1;

  @media (min-width: theme.$breakpoint-lg) {
    order: 0;
    display: flex;
    flex-direction: column;
  }
}
