@use "../styles/theme.scss";

:local(.radio-input) {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 0;
}

:local(.option) {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 16px;
  cursor: pointer;
  user-select: none;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

:local(.input) {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid theme.$radio-border-color;
  background-color: theme.$radio-bg-color;
  align-self: center;
  position: relative;
  appearance: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-backdrop-filter: blur(var(--mv-blur-sm));
  backdrop-filter: blur(var(--mv-blur-sm));

  &::after {
    content: " ";
    position: absolute;
    background-color: transparent;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    width: 14px;
    height: 14px;
    border-radius: 16px;
    transition: background-color 0.12s ease;
  }

  &:hover::after {
    background-color: rgba(113, 174, 255, 0.25);
  }

  &:active::after {
    background-color: rgba(93, 144, 230, 0.42);
  }

  &:checked::after {
    background-color: #85e8ff;
  }

  &:checked:hover::after {
    background-color: #a5efff;
  }

  &:checked:active::after {
    background-color: #6fd9f8;
  }
}

:local(.content) {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  color: theme.$text2-color;
}

:local(.label) {
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-bold;
  color: theme.$text1-color;
}

:local(.description) {
  margin-top: 4px;
  font-size: theme.$font-size-xs;
  font-weight: theme.$font-weight-regular;
  color: theme.$text2-color;
}
